body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 247, 248);
    margin: 0;
    padding: 0;
    color: white;
}

.window {
    display: flex;
    justify-content: center;
}

#gameScreen {
    display: flex;
    justify-content: center;
    background-color: rgb(187, 225, 231);
    border-radius: 10px;
    width: 1000px;  

    margin: 12px;
}

h1 {
    margin: 15px 0 15px 0;
}

.computerChoice, #playerChoice {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

#choose {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

#imageSection {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-bottom: 15px;
}

.button, #computerImage {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;
    background-color: rgb(125, 208, 219);
    border: 0;

    border-radius: 100px;
}

button:hover {
    cursor: pointer;
}

.button img, #computerImage img {
    height: 70px;
    width: 70px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}