body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(154, 206, 211);
    margin: 0;
    padding: 0;
    color: white;
}

.window {
    display: flex;
    justify-content: center;
}

#gameScreen {
    display: flex;
    justify-content: center;
    background-color: rgb(187, 225, 231);
    border-radius: 10px;
    width: 1000px;  

    margin: 12px;
}

.header {
    display: flex;
    justify-content: center;
    height: 100px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 0 15px;
    border-radius: 10px;
    width: 1000px;
    background-color: rgb(187, 225, 231);
}

.computerChoice, #playerChoice {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

#choose {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

#imageSection {
    display: flex;
    justify-content: center;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-bottom: 15px;
}

.button, #computerImage {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;
    background-color: rgb(125, 208, 219);
    border: 0;

    border-radius: 100px;
}

.yourChoice {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.yourChoice .button, #computerImage {
    background-color: rgb(89, 165, 175);
}

button:hover {
    cursor: pointer;
}

.button img, #computerImage img {
    height: 70px;
    width: 70px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.score {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 20px;
}

.score img {
    height: 80px;
    width: 80px;
}

.scoreText {
    text-align: center;
    font-size: 36px;
}
